.about__rain {
    background-color: #f8f8f8;
    margin: auto;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
}

.about__rain .container {
    margin: auto;
    display: grid;
    width: 100%;

}

.about__rain .heading h2{
    text-align: center;

}
.about__rain .container div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.about__rain .container .searchB {
    min-width: 200px;
    min-height: 50px;
    color: rgb(255, 255, 255);
    background-color: cadetblue;
    font-weight: 1200;
    font-size: 1.5rem;
    margin-top: 1rem;
    opacity: 0.7;
}
.about__rain .container .drop__down {
    align-items: center;
    justify-items: center;
    
}

.about__rain .container2 {
    background: url('../images/Karlova-ves.png') no-repeat center;
    margin: auto;
    display: grid;
    width: 100%;
    height: 800px;

}
.about__rain h2 {
    font-size: 2.5rem;
    text-align: left;
    vertical-align: text-bottom;
    min-height: 60px;
}

.about__rain .col-2 {
    display: flex;
    flex-direction: column;
}
.about__rain .graph div{
    border-radius: 5px;
    border: 50px;
    border-color: rgb(43, 58, 59);
    margin: 10px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}
.about__rain .graph h3 {
    font-size: 2.5rem;
    text-align: center;
    vertical-align: text-bottom;
    min-height: 60px;
    margin-top: 50px;
}

.about__rain .col-2 h2 {
    color: #f8f8f8;
    text-align: center;
    
}

.about__rain .graph span {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 1000;
}

.expenses-filter {
    color: rgb(0, 0, 0);
    padding: 0 2rem;
    min-width: 400px;
    align-items: center;
    justify-content: center;
  }
  
  .expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-right: 5px;
    
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border-radius: 6px;
  }
@media screen and (max-width:940px) {
    .about__rain .container {
        grid-template-columns: 1fr;
    }

    .about__rain .container {
        width: 100%;
    }

    .about__rain .container .col-2 {
        padding: 0;
    }

}






